@media screen and (max-width: 900px) {
    header .menuDesktop, header .btn-contato {
        display: none;
    }
}

@media screen and (max-width: 878px) {
    .hero-site .hero-text h1{
        font-size: 2.6rem;
        line-height: 45px;
    }

    .hero-site .hero-text p{
        font-size: 14px;
    }

    .hero-site .hero-text p span{
        display: inline;
    }

    .hero-site button{
        font-size: 18px;
    }

    .section-about .itens-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-about .itens-section .img-itens img{
    max-width: 100%;
    height: auto;
    }

    .section-about .itens-section .txt-about h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 15px;
    }

    .section-about .itens-section .txt-about p{
    margin-bottom: 15px;
    }

    .txt-contato, .icons-contatos{
        display: block;
        width: 100%;
        margin-right: -4px;
    }

    .contato .txt-contato h3{
        font-size: 2em;
        line-height: 40px;
    }


    .contato .icons-contatos button{
        width: 90%;
    }

    .operation .solutions-title{
        font-size: 50%;
    }

    .solutions .solutions-box{
        flex-direction: column;
        text-align: center;
    }

    .solutions .solutions-box h4{
        font-size: 1.5em;
        font-weight: 800;
        margin-bottom: 10px;
    }
}