* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e3e3e3;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

header .logo img{
    width: 50px;
}

header .menuDesktop nav ul{
    list-style-type: none;
}

header .menuDesktop nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header .menuDesktop nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.menuDesktop nav a:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


header .btn-contato button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgb(221, 221, 221);
    color: white;
    cursor: pointer;
}

header .btn-contato button:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

section.hero-site{
    height: 98vh;
    background-image: url(/images/atendimentoClinica2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .hero-text h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .hero-text span{
    display: block;
    font-weight: 800;
}

.hero-site .hero-text p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .hero-text p span{
    display: block;
}

section.section-about{
    padding: 80px 0;
}

.section-about .itens-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-bottom: 60px;
}

.section-about .itens-section .img-itens img{
    max-width: 420px;
}

.section-about .itens-section .txt-about h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}

section.section-challenges{
    height: 500px;
    background-image: url(/images/hospital.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-challenges > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: white;
}

.section-challenges h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.section-challenges h3 span{
    display: block;
    font-weight: 700;
}

.section-challenges p{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
}

section.operation{
    padding: 80px 0;
}

.operation .solutions-title{
    position: sticky;
    top: 50%;
}

.solutions-title, .solutions{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.operation .solutions-title h3{
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.operation .solutions-title h3 span{
    display: block;
    font-weight: 700;
}

.solutions .solutions-box{
    text-align: right;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #000;
    padding: 20px;
}

.solutions .solutions-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.solutions .solutions-box h4 span{
    font-weight: 300;
}

.solutions .solutions-box p{
    font-size: 18px;
    line-height: 20px;
}